/* View Panel */
#analytics-icon{
 background-image:url(../images/wp-slimstat.png);
 background-position:center; 
 background-repeat:no-repeat;
}
#analytics-icon.rtl{
 float:right;
}
.wrap form p{
 margin:5px 1px;
 overflow:auto;
}
.wrap form p span{
 float:left;
 margin:5px 0;
}
.wrap form p span.rtl{
 float:right;
}
.wrap h2.medium{
 border-bottom:1px solid #CCCCCC;
 font-size:.9em;
 margin-bottom:5px;
 padding-bottom:0;
}
.wrap .nav-tab{
 border-style:dashed;
 color:#464646;
 font-size:1em;
 font-style:normal;
 line-height:1.1em;
 padding:10px;
 text-decoration:none;
}
.wrap a.nav-tab.nav-tab-inactive:hover{
 background-color:#fff;
}
.wrap .nav-tab.nav-tab-active{
 border-style:solid;
 font-weight:700;
 position:relative;
}
.current-filters,.current-filters code{
 clear:left;
 margin-top:15px;
 vertical-align:top;
}
.current-filters code{
 padding:2px 3px;
}
.postbox{
 float:left;
 height:205px;
 margin-right:5px;
 width:255px;
}
.postbox.rtl{
 float:right;
}
.postbox.medium{
 width:517px;
}
.postbox.wide{
 width:780px;
}
.postbox.tall{
 width:1005px;
}
.postbox h3{
 cursor:default;
 font-size:.9em;
 margin:0;
 padding:5px 0 5px 5px;
}
.postbox div.more{
 background:url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
 float:right;
 font-size:0.85em;
 height:15px;
 padding:5px 5px 0;
}
.rtl .postbox div.more{
 float:left;
}
.postbox div.container{
 overflow-y:auto;
 height:183px;
}
.postbox div.container.noscroll{
 overflow-y:hidden;
}
.postbox p{
 border-bottom:1px dashed #ddd;
 font-size:.8em;
 margin:0;
 overflow:auto;
 padding:5px 5px 5px 6px;
 white-space:nowrap;
}
.postbox p.header{
 background-color:#eee;
}
.postbox p.last{
 border:0;
}
.postbox.tall{
 height:455px;
}
.postbox.tall div.container{
 height:434px;
}
.postbox a.activate-filter{
 text-decoration:none;
}
.postbox #wp-element-details{
 clear:left;
 display:block;
 font-size:.8em;
}
.postbox p.nodata{
 border:0;
 color:#999;
 padding-top:70px;
 text-align:center;
}
.postbox p img{
 float:left;
 padding:2px 6px 0 0;
}
.postbox.rtl p img{
 float:right;
 padding:2px 0 0 6px;
}
.postbox p span{
 float:right;
 min-width:50px;
 text-align:right;
}
.postbox.rtl p span{
 float:left;
 text-align:left;
}
.postbox p span.element-title{
 float:left;
 text-align:left;
}
.postbox.rtl p span.element-title{
 float:right;
 text-align:right;
}
.postbox p span.narrowcolumn{
 min-width:30px;
 text-align:center;
}
.postbox p span.widecolumn{
 min-width:100px;
 text-align:center;
}
.postbox.tall  span{
 margin:0 15px;
}
.fusion-credits{
 clear:both;
 text-align:right;
 width:1000px;
}

/* Options Panel */
.form-table tr.tall{
 height:65px;
}
.form-table th{
 width:150px;
}
.form-table tr.tall th{
 vertical-align:middle;
}
.form-table th,
.form-table td{
 padding:3px 10px;
}
.form-table .description{
 display:block;
 margin-bottom:10px;
}
.form-table input{
 margin:0 8px 0 0;
}
.form-table.rtl input{
 margin:0 0 0 8px;
}
.form-table input.longtext{
 width:400px;
}